body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: cornflowerblue;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.calc-container {
    background-color: #212121;
    width: 300px;
    height: 450px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display {
    background-color: #3b3b3b;
    width: 268px;
    height: 80px;
    margin-top: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #60A07F
}

.user-input {
    height: 50%;
    margin: 10px;
    font-size: 1.3rem;
}

.result {
    height: 50%;
    color: white;
    font-size: 1.8rem;
    margin-right: 15px;
}

.button-grid {
    width: 280px;
    height: 330px;
    margin: 15px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

#clear-btn {
    grid-column: 1 / 3;
}

#delete-btn {
    grid-column: 3 / 5;
}
