body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: cornflowerblue;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.calc-container {
    background-color: #212121;
    width: 300px;
    height: 450px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display {
    font-family: monospace;
    background-color: #3b3b3b;
    width: 268px;
    height: 80px;
    margin-top: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #60A07F;
    box-shadow: inset 2px 3px 5px 0px rgb(0 0 0 / 70%);
}

.user-input {
    height: 50%;
    margin: 10px;
    font-size: 1.3rem;
}

.result {
    height: 50%;
    color: white;
    font-size: 1.8rem;
    margin-right: 15px;
}

.button-grid {
    width: 280px;
    height: 330px;
    margin: 15px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.btn {
    border-radius: 100%;
    background-color: #616161;
    border: 0px solid;
    margin: 5px;
    color: white;
    font-weight: 800;
    box-shadow: 4px 5px 5px 0px rgb(0 0 0 / 50%);
    outline: none;
    cursor: pointer;
    transition: all .15s ease-in-out;
}

.btn:hover {
    background-color: white;
    color: #3b3b3b;
    
}

.btn:active {
    transform: scale(1.1);
}

#clear-btn {
    grid-column: 1 / 3;
}

#delete-btn {
    grid-column: 3 / 5;
}
